body{
	background-color: white;
}
div#Grande{
	background-color:white ;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 70px;
	margin-right: 70px;
	height: 600px;
	width: 1300px;
}
div#mediano{
	background-color: #EDDD40;
	margin-left: 0px;
	margin-right: 0px;
	height: 650px;
	width: 1300px;
	float: 
}
div#chiquito{
	background-color: #2ECC71;
	margin-bottom: 30px;
	margin-right: 0px;
	height: 600px;
	width: 300px;
	float: right;
}
div#im_uno{
	margin-top: 0px;
	margin-left: 120px;
	float: left;
}
div#im_dos{
	margin-top: 0px;
	margin-left: 80px;
	float: left;
}
div#nombre{
	text-align: center;
}
#menu{
	background-color: #000;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{ 
	color: white; 
	display: block; 
	padding: 20px; 
	text-decoration: none;
}
#menu ul li a:hover{ 
	background-color: #42B881;
}